version: "3.9"

services:
  backend:
    build: ./backend
    container_name: learnato-backend
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - MONGO_URI=mongodb://mongo:27017/learnato
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: learnato-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: learnato-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
